DEFAULT_ENGINE=kokoro
KOKORO_PROFILE=cpu
KOKORO_IMAGE=ghcr.io/remsky/kokoro-fastapi-cpu:latest
KOKORO_GPU_IMAGE=local/kokoro-blackwell:latest
KOKORO_FORCE_CUDA=false
KOKORO_URL=http://kokoro:8880
CHATTERBOX_URL=http://chatterbox:8000
DEFAULT_VOICE_KOKORO=ef_dora
DEFAULT_VOICE_CHATTERBOX=alloy
DEFAULT_LANG_CODE=es
OUTPUT_FORMAT=mp3
GATEWAY_PORT=9000
REQUEST_TIMEOUT_SECONDS=120
CHUNK_MAX_CHARS=500
CHUNK_LANGUAGE=es
MAX_INPUT_CHARS=12000

CHATTERBOX_HOST=0.0.0.0
CHATTERBOX_PORT=8000
CHATTERBOX_DEVICE=cuda
CHATTERBOX_USE_MULTILINGUAL_MODEL=true
CHATTERBOX_EXAGGERATION=0.5
CHATTERBOX_CFG_WEIGHT=0.5
CHATTERBOX_TEMPERATURE=0.8
CHATTERBOX_MAX_CHUNK_LENGTH=280
CHATTERBOX_MEMORY_CLEANUP_INTERVAL=5
CHATTERBOX_CUDA_CACHE_CLEAR_INTERVAL=3
CHATTERBOX_ENABLE_MEMORY_MONITORING=true
